<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/semantic-ui/dist/semantic.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/d3/build/d3.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-spotify/dist/angular-spotify.min.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script type="text/javascript" src="/angular-spinner/angular-spinner.min.js"></script>
    <script type="text/javascript" src="/angular-loading-spinner/angular-loading-spinner.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" class="container-fluid">

        <ui-view></ui-view>

      </div>

    </div>
</body>
</html>
