* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#player {
  position: absolute;
  top: 50px;
}

#albumImage {
  width: 50px;
  margin-left: 22px;
  padding-right: 10px;
}

#chart {
  height: 100vh;
}

#main {
  margin: 0 auto;
}

#toggles {
  
  #vert-buttons {
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 55px;
    width: 200px;
    float: right;
    .active {
      background-color: #399300;
      outline: none;
      }
  }
  .ui.button {
    background-color: rgba(89,179,20, .5);
    display: block;
    float: right;
    border: none;
    margin-right: 0;
    &:focus, &:hover, &:active {
      background-color: #399300;
      outline: none;
    }
  }
  span {
    color: white;
  }
}

* {
  box-sizing: border-box; }

body {
  background: #222222;
  padding-bottom: 56px; }

#main {
  padding-left: 0; }

.col-xs-2 {
	padding-left: 0;
}


footer {
  position: fixed;
  background-color: #000;
  border-top: 1px solid #000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 8px; }
  footer .bar {
    overflow: hidden;
    padding: 9px; }
  footer .progress {
    cursor: pointer; }
  footer .progress-bar {
    transition: none !important; }


@import 'directives/main';
@import 'login/main';
